html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.displayNews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  width: 20em;
  height: 20rem;
  margin: 0.3rem;
  border: 5px solid red;
}
h1 {
  color: aqua;
}
